@model IQueryable<Subject>;

<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Subjects
                </div>
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <thead>
                            <tr>
                                <th data-breakpoints="xs">Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th data-breakpoints="xs">Time</th>

                                <th data-breakpoints="xs sm md">Category</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                            <tr data-expanded="true">
                                <td>@p.Name</td>
                                <td>@p.Description</td>
                                <td>@p.Price</td>
                                <td>@p.Time</td>

                                <td>@p.Category</td>
                                <td><a asp-action="Edit" asp-controller="Subject" asp-route-id="@p.ID">Edit</a></td>
                                <td><a asp-action="DeleteConform" asp-controller="Subject" asp-route-id="@p.ID">Delete</a></td>
                            </tr>
                            }

                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery.nicescroll.js"></script>

